@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-sans: "Inter", sans-serif;

  --gray-10: hsl(220 20% 10%);
  --gray-14: hsl(220 20% 14%);
  --white-98: hsl(0 0% 98%);
  --blue-50: hsl(240 100% 50%);
  --purple-25: hsl(300 100% 25%);

  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --radius: 4px;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-content: center;
  justify-items: start;
  font-family: var(--font-sans);
  color: var(--white-98);
  background-color: var(--gray-14);
}

button {
  position: relative;
  padding: var(--spacing-1) var(--spacing-2);
  margin: var(--spacing-2) 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--white-98);
  background-color: var(--gray-10);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

button::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateY(4px) translateX(4px);
  background-image: linear-gradient(to right, var(--blue-50), var(--purple-25));
  z-index: -10;
}

.social {
  width: 1200px;
  height: 630px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--spacing-2);
  background-color: var(--gray-10);
  overflow: hidden;
  z-index: 10;
}

.social::after {
  content: "";
  position: absolute;
  bottom: -40%;
  right: -20%;
  height: 800px;
  width: 800px;
  background-image: linear-gradient(
    to bottom left,
    var(--blue-50),
    var(--purple-25)
  );
  border-radius: 50%;
  z-index: -10;
}

.social-site {
  padding: var(--spacing-1) var(--spacing-2);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray-10);
  background-color: var(--white-98);
  border-radius: var(--radius);
}

.social-title {
  max-width: 80%;
  font-size: 6rem;
  font-weight: 900;
}

.social-site:focus,
.social-title:focus {
  outline: none;
}
