@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #242323;
  background-image: linear-gradient(to bottom, #1a1818, transparent); */
  background-attachment: fixed;
}

input {
  background-color: rgba(107, 114, 128, 0.3);
}

.comment input {
  background-color: transparent;
}

.card {
  background-image: url("/images/card.svg");
  background-repeat: no-repeat;
  background-position: 35% 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Nunito:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,300&display=swap");

@layer components {
  .btn {
    @apply border-2 rounded px-3 transition py-1 border-gray-500;
  }

  body {
    @apply bg-gray-900 bg-gradient-to-tl from-gray-800;
  }

  .blog blockquote {
    @apply relative before:w-1 before:h-full before:rounded-tl before:rounded-bl before:bg-white before:absolute  my-3;
  }

  .blog blockquote p {
    @apply text-gray-400;
  }

  p {
    @apply my-2;
  }

  .blog h1 {
    @apply text-blue-500 text-4xl md:text-5xl  2xl:text-7xl pb-3;
  }
  .blog h2 {
    @apply text-3xl text-blue-500 md:text-4xl  2xl:text-6xl;
  }
  .blog h3 {
    @apply text-2xl text-blue-500 md:text-3xl  2xl:text-4xl;
  }
  .blog strong {
    @apply text-blue-600;
  }
  .blog > * {
    @apply text-base w-[85%] md:text-lg xl:text-xl leading-[1.6rem] md:leading-[1.8rem] xl:leading-[2rem] text-gray-100;
  }

  .blog pre code {
    @apply text-base text-gray-300 px-2 py-2 font-normal after:content-[''] before:content-[''];
  }

  .blog pre {
    @apply bg-gray-800 bg-gradient-to-br px-3 w-full py-4 to-gray-700;
  }
  .blog code {
    @apply px-1 py-[0.5px];
  }

  .blog code {
    @apply after:content-['\`'] before:content-['\`'] before:text-blue-500 after:text-blue-500 text-blue-400 font-bold;
  }

  .blog {
    @apply flex items-center flex-col;
  }

  /* .remark-code-title {
    @apply bg-gray-800 bg-gradient-to-br px-3 w-full py-4 to-gray-700;
  } */
}

.remark-code-title {
  width: 100%;
  background-color: #1f2837;
  color: rgb(45, 105, 201);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transform: translateY(0.5rem);
  border-bottom: 0.1rem solid #303c50;
  padding: 0.4rem 1rem;
  font-weight: bold;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(91, 33, 182);
}

*::-webkit-scrollbar-track {
  display: none;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin !important;
  scrollbar-width: 5px;
  overflow-x: hidden;
  scrollbar-base-color: rgb(91, 33, 182);
}

.blog ul {
  margin: 1rem 0rem;
  padding-left: 3rem;
}
.blog li {
  list-style: disc;
  list-style-position: outside;
  margin-left: 1rem;
}
.blog h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}
.blog h1 {
  font-weight: bold;
  margin: 2.5rem 0;
  border-bottom: 1px solid #7a7a7a;
}
.blog h2 {
  font-weight: bold;
  margin: 1.5rem 0;
}
.blog p {
  margin: 1rem 0;
}
.blog pre {
  overflow-x: scroll;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  font-size: 0.8rem;
}
.blog pre code {
  background: transparent;
  font-family: "DM Mono", monospace;
  text-decoration: none;
}
.blog blockquote {
  border-radius: 0.4rem;
}
.blog blockquote p {
  padding: 0.2rem 1rem;
  margin: 0;
  background-color: transparent;
}
.blog a {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  color: #4949ff;
}
